
/* 
    
    Author     : pwhitehurst
*/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


body {
    
    background-color:#eee;
    width: 100vw;
   
}
header {
    text-align: center;
    background-color: #0FA0CE;
    color: white;
}

.content {
     margin:auto;
     background-color: #fff;
     height: 100vh;
}

